@import "variables";
.header {
  width: 100%;
  background-color: $main-color;
  height: 100%;
  border-bottom: thin solid black;
  &__nav {
    height: inherit;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

    &__home-link {
      min-width: 200px;

      &__brand {
        height: 30px;
        margin-left: 5%;
      }
    }

    &__container {
      align-self: center;
      width: 30%;

      &__nav-links {
        justify-content: flex-end;
        list-style: none;
        display: flex;

        &__link {
          display: flex;
          justify-content: center;
          align-items: center;
          &:first-child {
            margin-right: 5px;
          }
          &:last-child {
            margin-right: 1rem;
          }

          &__logout {
            display: flex;
            justify-content: center;
            align-items: center;
            color: lighten($bg-color, 60%);
            font-weight: 400;
            text-decoration: none;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
          &__user-action {
            display: flex;
            justify-content: center;
            align-items: center;
            color: lighten($bg-color, 60%);
            font-weight: 400;
            text-decoration: none;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.container-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-icon--color {
  color: lighten($bg-color, 60%);
}
.mat-button--margin-l {
  margin-left: unset;
}
