<!-- header -->
<header class="header">
    <!-- navbar -->
    <nav class="header__nav">
        <!-- navbar brand -->
        <a
            class="header__nav__home-link"
            routerLink="publications"
        >
            <img
                class="header__nav__home-link__brand"
                src="../../assets/logos/icon-left-font-monochrome-white.svg"
                alt="logo groupomania"
            >
        </a>
        <!-- navbar link -->
        <div class="header__nav__container">
            <ul class="header__nav__container__nav-links">
                <li
                    class="header__nav__container__nav-links__link display-text"
                    *ngIf="isAuth"
                >
                    <div class="header__nav__container__nav-links__link__user-action ">
                        <app-user class="container-user"></app-user>
                    </div>
                </li>
                <li class="header__nav__container__nav-links__link">
                    <a
                        class="header__nav__container__nav-links__link__logout"
                        (click)="onLogout()"
                        *ngIf="isAuth"
                    >
                        <mat-icon>power_settings_new</mat-icon>
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</header>
