@import "styles";

.container-login {
  height: 100%;
  background-image: 
    url("../../../../assets/office-865091_1280.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &__login-form {
    position: relative;
    background-color: lighten($bg-color, 60%);
    min-width: 320px;
    width: 30vw;
    border-radius: 10px;
    padding: 15px;
    &__container-fluid {
      display: flex;
      flex-direction: column;

      &__mdp {
        text-align: center;
        margin-top: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid darken($bg-color, 10%);
        color: $main-color;
        cursor: pointer;
      }
    }
  }
}

.btn {
  &--lg {
    width: 100%;
    background-color: $main-color;
    color: lighten($bg-color, 60%);
  }
  &--mid {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 47%;
    align-self: center;
    background-color: lighten($main-color, 10%);
    color: lighten($bg-color, 60%);
  }
}
