<div
    class="thumbmail"
    *ngIf="userService.currentUser$ | async as user"
>
    <img
        class="thumbmail__image"
        *ngIf="user.media"
        [src]="user.media"
        alt="profile picture"
    >
    <img
        class="thumbmail__image"
        *ngIf="!user.media"
        src="../../../../assets/logos/Profile_avatar_placeholder_large.png"
        alt="default profile picture"
    >
    <input
        aria-labelledby="media-upload"
        class='display-none'
        type="file"
        accept="image/*"
        (change)="onUploadThumbmail($event);$event.preventDefault()"
        #fileInput
        required
    >

    <button
        id="media-upload"
        mat-button
        aria-label="upload  new profile picture"
        class="thumbmail__btn-upload"
        (click)="fileInput.click();$event.preventDefault()"
    >
        <mat-icon class="thumbmail__btn-upload__icon">add_a_photo</mat-icon>
    </button>
</div>
