@import "styles";

.profile {
    padding: 15px;
    height: 100%;
    width: 100%;
    max-width: 750px;
    display: grid;
    margin: auto;
    grid-template-rows: 0.8fr 100px 0.5fr 0.5fr;

    @include small {
        grid-template-rows: 0.5fr 100px 0.5fr 0.5fr;
        padding: 15px 0;
    }

    &__about {
        margin-top: 15px;
    }
}
