<a
    *ngIf="userService.currentUser$ | async as user"
    class="navLink"
    routerLink="profile"
    routerLinkActive="active"
>
    <img
        mat-card-avatar
        *ngIf="user.media"
        class="user_thumbmail"
        [src]="user.media"
        alt="profile image of {{user.firstname}}"
    >
    <img
        mat-card-avatar
        *ngIf="!user.media"
        class="user_thumbmail"
        src="../../assets/logos/Profile_avatar_placeholder_large.png"
        alt="default profile thumbmail"
    >
    {{user.lastname}}
</a>
