<mat-spinner *ngIf="loading"></mat-spinner>

<form
    class="publication-form"
    [formGroup]="publicationForm"
    *ngIf="!loading"
>

    <!-- btn canceled -->
    <button
        class="mat-flat-button--custom"
        mat-flat-button
        mat-dialog-close
        title="close"
    >
        <mat-icon>close</mat-icon>
    </button>

    <!-- make a title -->
    <mat-form-field>
        <mat-label for="title">Titre</mat-label>
        <input
            matInput
            placeholder="Ex. Pizza"
            type="text"
            class="form-control"
            id="title"
            formControlName="title"
        >
    </mat-form-field>

    <!-- make a description -->
    <mat-form-field>
        <mat-label for="body">Description</mat-label>
        <textarea
            matInput
            placeholder="Et bien..."
            class="form-control"
            id="body"
            formControlName="body"
        ></textarea>
    </mat-form-field>

    <div>
        <img
            [src]="imagePreview"
            *ngIf="imagePreview"
            style="max-height: 100px;display:block;margin-top:10px"
        >
        <!-- input image to hide -->
        <input
            class='display-none'
            type="file"
            accept="image/*"
            (change)="onFileAdded($event);$event.preventDefault()"
            #fileInput
            required
        >
        <!-- btn image trigger -->
        <button
            mat-button
            class="mat-button--color"
            (click)="fileInput.click();$event.preventDefault()"
        >
            <mat-icon class="mat-icon--color">add_photo_alternate</mat-icon>
            Image/Video
        </button>
    </div>
    <!-- mat dialog close - btn submit form -->
    <button
        [mat-dialog-close]="onSubmit()"
        *ngIf="!data"
        class="mat-raised-button--mid"
        mat-raised-button
        color="primary"
        [disabled]="publicationForm.invalid"
    >
        ENVOYER
    </button>
    <button
        *ngIf="data"
        class="mat-raised-button--mid"
        mat-raised-button
        color="primary"
        [disabled]="publicationForm.invalid"
        [mat-dialog-close]="onModify()"
    >
        SAUVER
    </button>
    <!-- message error -->
    <p
        class="text-danger"
        *ngIf="errorMsg"
    >
        {{ errorMsg }}
    </p>
</form>
