$main-color: #092044;
$accent-color: #d0515a;
$bg-color: #f0f1f5;
$mat-icon-image: rgb(60, 167, 85);
$mat-icon-image-comment: darken($bg-color, 60%);
$mat-button-publication: darken($bg-color, 60%);
$mat-icon-image-comment-hover: lighten($main-color, 40%);
